{% extends './Layout/base.html' %}

{% block content %}
<div class="container custom-margin-top">
    <div class="row">
        {% include './Layout/Menu.html'%}
        <div class="col-8">
            <div class="card">
                <div class="card-header">Change Avatar</div>
                <div class="card-body">
                    {% with messages = get_flashed_messages(with_categories = true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{category}} mt-3">{{ message }}</div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}

                    <form action="{{ url_for('UploadAvatar') }}" enctype="multipart/form-data" method="post">
                        <div class="form-group mb-3">
                            <input type="file" name="pic" class="form-control">
                        </div>

                        <div class="form-group">
                            <button class="btn btn-sm btn-warning">Upload</button>
                        </div>
                </div>
            </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}